.app {
	height: 100vh;
	color: #000;
}

.content {
	max-width: 1000px;
	background-color: #fff;
	margin: 0 auto;
	padding: 5rem 0;
}

.search-panel {
	margin-top: 2rem;
	padding: 1.5rem;
	background-color: #f8f9fa;
	border-radius: 4px;
	box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.15);
}
